In [4]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [6]:
import os 
import configparser

config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

DB_NAME     = config.get("CLUSTER","DB_NAME")
DB_USER     = config.get("CLUSTER","DB_USER")
HOST        = config.get("CLUSTER","HOST").strip("'")
DB_PASSWORD = config.get("CLUSTER","DB_PASSWORD")
DB_PORT     = config.get("CLUSTER","DB_PORT")

conn_string="postgresql://{}:{}@{}:{}/{}".format(DB_USER, DB_PASSWORD, HOST, DB_PORT, DB_NAME)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rdi@dwhcluster.cqfcwtgs26wd.us-west-2.redshift.amazonaws.com:5439/dwh

In [8]:
%%sql
DROP TABLE IF EXISTS staging_events;
DROP TABLE IF EXISTS staging_songs;

DROP TABLE IF EXISTS songplays;
DROP TABLE IF EXISTS users;
DROP TABLE IF EXISTS songs;
DROP TABLE IF EXISTS artists;
DROP TABLE IF EXISTS time;

UsageError: Cell magic `%%sql` not found.

In [7]:
%%sql
SELECT count(*) FROM songplays LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cqfcwtgs26wd.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(333,)]

In [8]:
%%sql
SELECT count(*) FROM users LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cqfcwtgs26wd.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(96,)]

In [9]:
%%sql
SELECT count(*) FROM songs LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cqfcwtgs26wd.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [10]:
%%sql
SELECT * FROM artists LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cqfcwtgs26wd.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('AR061J011A348F060F', 'Ximena Sarinana', 'MX', Decimal('24'), Decimal('-102')),
 ('AR065TW1187FB4C3A5', 'Tricky', 'Knowle West, Bristol, Avon, Engla', None, None),
 ('AR06XSY1187B9B279E', 'Little River Band', 'Melbourne, Australia', None, None),
 ('AR0737R1187B99F0E2', 'Julee Cruise', 'Creston, IA', None, None),
 ('AR07QYZ1187FB5BF78', 'Letters To Cleo', '', None, None)]

In [17]:
%%sql
SELECT * FROM time LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cqfcwtgs26wd.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 3, 1, 8, 36, 796000), 1, 3, 44, 11, 2018, '6'),
 (datetime.datetime(2018, 11, 3, 15, 54, 48, 796000), 15, 3, 44, 11, 2018, '6'),
 (datetime.datetime(2018, 11, 3, 16, 29, 46, 796000), 16, 3, 44, 11, 2018, '6'),
 (datetime.datetime(2018, 11, 3, 16, 53, 35, 796000), 16, 3, 44, 11, 2018, '6'),
 (datetime.datetime(2018, 11, 3, 17, 9, 52, 796000), 17, 3, 44, 11, 2018, '6')]

In [32]:
%%sql
SELECT * FROM staging_events LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cqfcwtgs26wd.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(None, 'Logged Out', None, None, 0, None, None, 'free', None, 'PUT', 'Login', None, 52, None, 307, datetime.datetime(2018, 11, 3, 1, 4, 33, 796000), None, None),
 (None, 'Logged In', 'Celeste', 'F', 1, 'Williams', None, 'free', 'Klamath Falls, OR', 'GET', 'Home', 1541077528796.0, 52, None, 200, datetime.datetime(2018, 11, 3, 1, 5, 23, 796000), '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Mynt', 'Logged In', 'Celeste', 'F', 2, 'Williams', 166.94812, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', 1541077528796.0, 52, 'Playa Haters', 200, datetime.datetime(2018, 11, 3, 1, 5, 50, 796000), '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Taylor Swift', 'Logged In', 'Celeste', 'F', 3, 'Williams', 230.47791, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', 1541077528796.0, 52, 'You Belong With Me', 200, datetime.datetime(2018, 11, 3, 1, 8, 36, 796000), '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Amy Winehouse', 'Logged In', 'Celeste', 'F', 4, 'Williams', 229.85098, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', 1541077528796.0, 52, 'Valerie', 200, datetime.datetime(2018, 11, 3, 1, 12, 26, 796000), '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53)]

In [33]:
%%sql
SELECT * FROM staging_songs LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cqfcwtgs26wd.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(1, 'AR35RMH1187FB4A865', -22.97673, -43.19508, 'Rio de Janeiro', 'Eumir Deodato', 'SOHZIGH12A6D4F8D14', 'A Grande Cacada', 111.28118, 0),
 (1, 'ARXDGV71187B990B08', 34.35919, -90.27585, 'Darling, MS', 'Super Chikan', 'SOXQUAN12A8C14237B', 'Big Boy Now', 212.74077, 2000),
 (1, 'AR9AM2N1187B9AD2F1', 53.4796, -2.24881, 'Manchester, England', 'Inspiral Carpets', 'SODDZAD12A6701DC4C', 'Commercial Reign', 283.76771, 1990),
 (1, 'AR1FMBJ1187B992A46', None, None, '', 'Melotron', 'SOFACJY12AB01897BE', 'Menschenfresser', 295.07873, 2005),
 (1, 'ARPN0Y61187B9ABAA0', 53.4796, -2.24881, 'Manchester, England', 'The Smiths', 'SOFVOQL12A6D4F7456', 'The Boy With The Thorn In His Side', 196.67546, 1985)]